- # encoding: UTF-8
!!! 5
%html
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %title= "Bong"
    %link(href="s/style.css" media="all" rel="stylesheet")
  %body.home()
    %header
      %nav
        %ul
          %li.active
            %a(href="#") Web
          %li
            %a(href="#") Imágenes
          %li
            %a(href="#") Vídeos
          %li
            %a(href="#") Noticias
          %li
            %a(href="#") Mapas
          %li
            %a(href="#") Más
          %li
            %a(href="#") Prodigy/MSN
          %li
            %a(href="#") Outlook.com
      #conf
        #session
          %a(href="#") Iniciar sesión
          .connect-box
            %span Cuenta Google
            %a(href="#") Conectar
            %span Desconectado
            %a.history(href="#") Historial de búsqueda
        %a#cog.icon(href="#") Configuración
    #content
      #search-box.main
        %p.logo.ib bong
        %form.ib(action="search" method="GET")
          %input#query(type="text" value="")
          %input.icon(type="submit")
          %input#all(type="radio" name="language" value="all" checked="checked")
          %label(for="all") Mostrar todos
          %input#lang(type="radio" name="language" value="spanish")
          %label(for="lang") Sólo en Español
          %input#reg(type="radio" name="language" value="mex")
          %label(for="reg") Sólo en México
      #bg-controls
        %button.icon(data-btn="expand" type="button") Expandir imagen
        %button.icon(data-btn="prev" type="button") Anterior
        %button.icon(data-btn="next" type="button") Siguiente
        %button.icon(data-btn="dunnolol" type="button") Nothing!
    %footer
      %ul
        %li
          %a(href="#") © 2014 Éder
        %li
          %a(href="#") Privacidad y cookies
        %li
          %a(href="#") Legal
        %li
          %a(href="#") Anuncios
        %li
          %a(href="#") Sobre nuestra publicidad
        %li
          %a(href="#") Ayuda
        %li
          %a(href="#") Comentarios sobre Bong
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="j/script.js")
