- # encoding: UTF-8
%body.list()
  %header
    %a#bg-bar(href="#") Volver
    %nav
      %ul
        %li.active
          %a(href="#") Web
        %li
          %a(href="#") Imágenes
        %li
          %a(href="#") Vídeos
        %li
          %a(href="#") Noticias
        %li
          %a(href="#") Mapas
        %li
          %a(href="#") Más
    #search-box
      %p.logo.ib Bong
      %form.ib(action="search" method="GET")
        %input#query(type="text" value="")
        %input#hidden(type="hidden" name="language" value="all")
        %input(type="submit")
    #more
      %span.result-num
      .lang-filter
        %span Filtrar por idioma
        %div
          %a(href="#" data-lang="spanish") Sólo Español
          %a(href="#") Más
      .region-filter
        %span Filtrar por región
        %div
          %a(href="#" data-lang="mex" ) Sólo de México
    #conf
      #session
        %a(href="#") Iniciar sesión
        .connect-box
          Cuenta Microsoft
          %span Desconectado
          %a(href="#") Conectar
          %a(href="#") Historial de búsqueda
      %a#cog(href="#") Configuración
  #content
    %ul#results
    .related.btm
      %span Búsquedas relacionadas a <span id="last-query"></span>
      %ul
        %li
          %a(href="#") Related search 1
        %li
          %a(href="#") Related search 2
        %li
          %a(href="#") Related search 3
        %li
          %a(href="#") Related search 4
        %li
          %a(href="#") Related search 5
        %li
          %a(href="#") Related search 6
        %li
          %a(href="#") Related search 7
        %li
          %a(href="#") Related search 8
    %ul#pagination
      %li.active
        %a(href="#") 1
      %li
        %a(href="#") 2
      %li
        %a(href="#") 3
      %li
        %a(href="#") 4
      %li
        %a(href="#") 5
      %li(data-dir="next")
        %a(href="#") Siguiente
  %aside.related
    %span Búsquedas relacionadas
    %ul
      %li
        %a(href="#") Related search 1
      %li
        %a(href="#") Related search 2
      %li
        %a(href="#") Related search 3
      %li
        %a(href="#") Related search 4
      %li
        %a(href="#") Related search 5
      %li
        %a(href="#") Related search 6
      %li
        %a(href="#") Related search 7
      %li
        %a(href="#") Related search 8
  %footer
    %ul
      %li
        %a(href="#") © 2014 Éder
      %li
        %a(href="#") Privacidad y cookies
      %li
        %a(href="#") Legal
      %li
        %a(href="#") Anuncios
      %li
        %a(href="#") Sobre nuestra publicidad
      %li
        %a(href="#") Ayuda
      %li
        %a(href="#") Comentarios sobre Bong
